body {
    font-family: "Poppins", Arial, sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .dropdown-btn {
    padding: 10px 8px 10px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  img{
      float: left;
      padding-right: 10%;
      padding-left: 5%;
  }

  .mahel{
    display: block;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
  }

  .mahe{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
  }

  p{
      font-size: 100%;
  }

  .hula{
    font-size: 20px;
  }

  .dropdown-btn:hover {
    color: #f1f1f1;
  }

  .dropdown-container {
    display: block;
    background-color: #111;
    padding-left: 8px;
    font-size: 20px;
  }

  .responsive {
    width: 20%;
    height: auto;
  }

  .responsiveban{
      width: 90%;
      height: auto;
      padding-bottom: 5%;
  }

  .responsivehead{
    width: 40%;
    clear: both;
    display: block;
    margin: auto;
    float: none;
  }

  .headimg{
    clear: both;
    float: left;
  }

  .headinf{
    clear: both;
    float: left;
    display: block;
  }

  .repon{
      clear: left;
      float: right;
      padding-right: 0%;
      width: 10%;
      height: auto;
  }

  #bit{
      padding-top: 10%;
  }

  #bit p{
      text-align: right;
      padding-right: 10%;
  }

  .profu{
    padding-right: 10%;
    padding-left: 5%;
  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left: 5%;

  }

  .newcoll{
    width: 40%;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .content{
    margin-left: 5%;
    margin-right: 5%;
  }

  .contentu{
    width: 30%;
  }

  table{
    width: 100%;
  }
  
  td{
    text-align: center;
  }

  .wuku{
    margin-left: 5%;
  }

  #sponsor{
    margin-left: 5%;
    margin-right: 5%;
  }

  #ICONS{
    width: 40%;
    height: auto;
    object-fit: cover;
  }

  .memb{
    margin-left: 5%;
  }

  .pupl{
    margin-left: 5%;
  }

  .bugu{
    width: 80%;
  }

  .bugua{
    text-align: left;
  }

  .bulu{
    margin-left: 5%;
  }

  .respos{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    display: block;
    float: none;
    margin-bottom: 10%;
  }

  .trailer{
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    display: block;
  }

  .pellets{
    width: 50%;
    height: auto;
  }

  .phori img{
    float: right;
    width: 10%;
    height: auto;
    margin-right: 4%;
  }
  
  .phole img{
    float: left;
    width: 10%;
    height: auto;
    margin-right: 5%;
  }

  .phole, .phori{
    background-color: #F2FBDE;
  }

  .mapz{
    width: 80%;
    height: auto;
  }

  .donu{
    color: rgb(153, 0, 0);
  }

  .bugul{
    width: 60%;
  }

  .momer{
    width: 80%;
    height: auto;
  }

  .heads{
    margin-left: 5%;
  }

  .maiu{
    text-align: center;
    margin: auto;
  }

  table.tetab{
    margin-left: auto;
    margin-right: auto;
  }

  #facuna{
    font-size: 2em;
    font-weight: 500;
  }

  #proju{
    font-size: 1.5em;
    font-weight: 1000;
  }

  .mudel{
    width: 20%;
    height: auto;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media only screen and (max-width: 450px) {
    .sidebar {padding-top: 40px;}
    .sidebar a {font-size: 10px; padding-left: 2px;}
    p {font-size: 40%;}
    li {font-size: 40%;}
    .dropdown-btn {font-size: 10px; padding: 10px 4px 10px 10px;}
    .hula {font-size: 10px;}
    .collapsible {font-size: 5px;}
    td {font-size: 20%;}
    .mahe{font-size: .67em; margin-top: 2.33em; margin-bottom: 2.33em;}
    .mahel{font-size: 1em; margin-top: 2.33em; margin-bottom: 2.33em;}
    #proju{font-size: 1em;}
    #facuna{font-size: 1.5em;}
  }